VITE_SUPABASE_URL="https://afaoqvydlrhkuhgkykyl.supabase.co"
VITE_SUPABASE_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmYW9xdnlkbHJoa3VoZ2t5a3lsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzc1MzE1ODYsImV4cCI6MjA1MzEwNzU4Nn0.dLV1y28gHfyEIMl07mcEqj03b5VCrpKNUo1xGTLGwdE',